* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Montserrat-Medium;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./Fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./Fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./Fonts/Montserrat-Bold.ttf);
}

$grey: #f0f0f0;
$orange: #ec7e52;
$green: #81a040;
$red: #ec5252;

$borderRadiusFull: 10rem;
$borderRadiusHalf: 1.5rem;

$fontScaler: 1vw;
$bodyMin: 1.2rem;
$bodyMax: 2.6rem;

$padding-1: 0.8rem;
$padding-2: 1.2rem;
$padding-3: 1.6rem;
$padding-4: 2rem;
$padding-5: 2.4rem;

$margin-1: 0.8rem;
$margin-2: 1.2rem;
$margin-3: 1.6rem;
$margin-4: 2rem;
$margin-5: 2.4rem;

$h1Min: 2.8rem;
$h2Min: 2.2rem;
$h3Min: 1.6rem;
$h4Min: 1rem;
$h5Min: 0.8rem;
$h6Min: 0.6rem;

$h1Max: 3.6rem;
$h2Max: 3rem;
$h3Max: 2.4rem;
$h4Max: 1.8rem;
$h5Max: 1.6rem;
$h6Max: 1.4rem;

$shadow: -4px -4px 9px rgba(255, 255, 255, 0.75),
  4px 4px 9px rgba(0, 0, 0, 0.15);

$inner-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.75),
  inset 4px 4px 9px rgba(0, 0, 0, 0.15);

body {
  background-color: $grey;
  font-size: clamp(($bodyMin), $fontScaler, $bodyMax);
}

::-webkit-scrollbar {
  /* // Width of vertical scroll bar */
  width: 8px;
  /* // Height of horizontal scroll bar */
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $orange;
}

/* padding top scales */
.p {
  &-0 {
    padding: 0rem;
  }
  &-1 {
    padding: $padding-1;
  }
  &-2 {
    padding: $padding-2;
  }
  &-3 {
    padding: $padding-3;
  }
  &-4 {
    padding: $padding-4;
  }
  &-5 {
    padding: $padding-5;
  }
}
.pt {
  &-0 {
    padding-top: 0rem;
  }
  &-1 {
    padding-top: $padding-1;
  }
  &-2 {
    padding-top: $padding-2;
  }
  &-3 {
    padding-top: $padding-3;
  }
  &-4 {
    padding-top: $padding-4;
  }
  &-5 {
    padding-top: $padding-5;
  }
}
.pb {
  &-0 {
    padding-bottom: 0rem;
  }
  &-1 {
    padding-bottom: $padding-1;
  }
  &-2 {
    padding-bottom: $padding-2;
  }
  &-3 {
    padding-bottom: $padding-3;
  }
  &-4 {
    padding-bottom: $padding-4;
  }
  &-5 {
    padding-bottom: $padding-5;
  }
}
.ptb {
  &-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  &-1 {
    padding-top: $padding-1;
    padding-bottom: $padding-1;
  }
  &-2 {
    padding-top: $padding-2;
    padding-bottom: $padding-2;
  }
  &-3 {
    padding-top: $padding-3;
    padding-bottom: $padding-3;
  }
  &-4 {
    padding-top: $padding-4;
    padding-bottom: $padding-4;
  }
  &-5 {
    padding-top: $padding-5;
    padding-bottom: $padding-5;
  }
}
.pl {
  &-0 {
    padding-left: 0rem;
  }
  &-1 {
    padding-left: $padding-1;
  }
  &-2 {
    padding-left: $padding-2;
  }
  &-3 {
    padding-left: $padding-3;
  }
  &-4 {
    padding-left: $padding-4;
  }
  &-5 {
    padding-left: $padding-5;
  }
}
.pr {
  &-0 {
    padding-right: 0rem;
  }
  &-1 {
    padding-right: $padding-1;
  }
  &-2 {
    padding-right: $padding-2;
  }
  &-3 {
    padding-right: $padding-3;
  }
  &-4 {
    padding-right: $padding-4;
  }
  &-5 {
    padding-right: $padding-5;
  }
}
.plr {
  &-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  &-1 {
    padding-left: $padding-1;
    padding-right: $padding-1;
  }
  &-2 {
    padding-left: $padding-2;
    padding-right: $padding-2;
  }
  &-3 {
    padding-left: $padding-3;
    padding-right: $padding-3;
  }
  &-4 {
    padding-left: $padding-4;
    padding-right: $padding-4;
  }
  &-5 {
    padding-left: $padding-5;
    padding-right: $padding-5;
  }
}
.m {
  &-auto {
    margin: auto;
  }
}
.mt {
  &-auto {
    margin-top: auto;
  }
}
.mb {
  &-auto {
    margin-bottom: auto;
  }
}
.mtb {
  &-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
}
.ml {
  &-auto {
    margin-left: auto;
  }
}
.mr {
  &-auto {
    margin-right: auto;
  }
}
.mlr {
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
.mt {
  &-0 {
    margin-top: 0;
  }
  &-1 {
    margin-top: $margin-1;
  }
  &-2 {
    margin-top: $margin-2;
  }
  &-3 {
    margin-top: $margin-3;
  }
  &-4 {
    margin-top: $margin-4;
  }
  &-5 {
    margin-top: $margin-5;
  }
}
.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-1 {
    margin-bottom: $margin-1;
  }
  &-2 {
    margin-bottom: $margin-2;
  }
  &-3 {
    margin-bottom: $margin-3;
  }
  &-4 {
    margin-bottom: $margin-4;
  }
  &-5 {
    margin-bottom: $margin-5;
  }
}
.mtb {
  &-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  &-1 {
    margin-bottom: $margin-1;
    margin-top: $margin-1;
  }
  &-2 {
    margin-bottom: $margin-2;
    margin-top: $margin-2;
  }
  &-3 {
    margin-bottom: $margin-3;
    margin-top: $margin-3;
  }
  &-4 {
    margin-bottom: $margin-4;
    margin-top: $margin-4;
  }
  &-5 {
    margin-bottom: $margin-5;
    margin-top: $margin-5;
  }
}
.ml {
  &-0 {
    margin-left: 0;
  }
  &-1 {
    margin-left: $margin-1;
  }
  &-2 {
    margin-left: $margin-2;
  }
  &-3 {
    margin-left: $margin-3;
  }
  &-4 {
    margin-left: $margin-4;
  }
  &-5 {
    margin-left: $margin-5;
  }
}
.mr {
  &-0 {
    margin-right: 0;
  }
  &-1 {
    margin-right: $margin-1;
  }
  &-2 {
    margin-right: $margin-2;
  }
  &-3 {
    margin-right: $margin-3;
  }
  &-4 {
    margin-right: $margin-4;
  }
  &-5 {
    margin-right: $margin-5;
  }
}
.mlr {
  &-0 {
    margin-left: 0;
    margin-right: 0;
  }
  &-1 {
    margin-left: $margin-1;
    margin-right: $margin-1;
  }
  &-2 {
    margin-left: $margin-2;
    margin-right: $margin-2;
  }
  &-3 {
    margin-left: $margin-3;
    margin-right: $margin-3;
  }
  &-4 {
    margin-left: $margin-4;
    margin-right: $margin-4;
  }
  &-5 {
    margin-left: $margin-5;
    margin-right: $margin-5;
  }
}
/* Margin Top Bottom Scale */

.d-flex-row {
  display: flex;
}
.d-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.d-flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}
.gap-5 {
  gap: 5rem;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-even {
  justify-content: space-evenly;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

// helpers
.full-width {
  width: 100%;
  margin-bottom: 2rem;
}
.container {
  margin: 2rem auto 0;
  padding: 0 2rem;
  width: auto;
  position: relative;
}
.input-task {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.input-add {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  &__todo {
    height: 2.3rem;
    width: 100%;
    border: none;
    border-radius: $borderRadiusFull;
    padding: 0 1.4rem;
    box-shadow: $inner-shadow;
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    transition: box-shadow 20s;

    &::placeholder {
      color: var(--greyLight-3);
    }
    &:focus {
      outline: none;
      transition: box-shadow 20s;
      box-shadow: $shadow;
    }
  }
}
.button-add {
  margin-left: 1rem;
  cursor: pointer;
  height: 2.3rem;
  border: none;
  border-radius: $borderRadiusFull;
  box-shadow: $shadow;
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  outline: none;
  &__color {
    fill: $orange;
  }
  &:active {
    box-shadow: $inner-shadow;
  }
}
.button-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  font-family: Montserrat-Bold;
  color: #ec7e52;
  flex-wrap: wrap;
  &__todo {
    cursor: pointer;
    height: 1.9rem;
    border: none;
    border-radius: $borderRadiusFull;
    padding: 0 1rem;
    box-shadow: $shadow;
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    transition: box-shadow 20s;
    outline: none;

    &::placeholder {
      color: var(--greyLight-3);
    }
    &:active {
      outline: none;
      box-shadow: $inner-shadow;
    }
  }
}
.todos {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  &-item {
    word-break: break-all;
    list-style: none;
    height: fit-content;
    width: 100%;
    border: none;
    border-radius: $borderRadiusHalf;
    padding: 1.4rem;
    box-shadow: $inner-shadow;
    background: none;
    transition: box-shadow 0.3s;
    &__uncompleted {
      word-break: break-all;
      list-style: none;
      height: fit-content;
      width: 100%;
      border: none;
      border-radius: $borderRadiusHalf;
      padding: 1.4rem;
      box-shadow: $shadow;
      background: none;
      transition: box-shadow 0.3s;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    &__text {
      font-family: Montserrat-Regular;
    }
    &__button {
      border: none;
      border-radius: $borderRadiusFull;
      box-shadow: $shadow;
      background: none;
      outline: none;
      padding: 0.6rem;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &__delete {
        fill: $red;
      }
      &__done {
        fill: $green;
      }
      &:active {
        box-shadow: $inner-shadow;
      }
    }
  }
  &-button {
    display: flex;
    gap: 0.5rem;
  }
}
.background {
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url(./SVG/Mobile-Bg.svg);
  background-size: 40rem 20rem;
  background-position: bottom;
  margin-top: -10.23rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 7rem;

    margin: 5rem 0;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 0 10rem;

    margin: 5rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 20rem;

    margin: 5rem 0;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    margin: 5rem 0;
    padding: 0 25rem;
  }
}
